*{
    background-color: bisque;
}
p{
    margin: auto;
    padding: auto;
    font-size: 24px;
}
ul{
    text-align: left;
    font-size: 24px;
    margin: auto;
    padding: auto;
    list-style: none;
}

li{
    padding: auto;
    margin: 40px;
}