*{
    background-color: bisque;
}
p{
    margin: auto;
    padding: auto;
    font-family: 'Times New Roman', Times, serif;
}
.list{
    text-align: center;
}
.photo{
    background-origin: padding-box;
    height: auto;
    width: auto;
    padding: auto;
}