*{
    background-color: bisque;
    font-family: 'Times New Roman', Times, serif;
}
p{
    margin: auto;
    padding: auto;
    font-size: 24px;
}
ul{
    text-align: left;
    font-size: 24px;
    margin: auto;
    padding: auto;
    list-style: none;
    display: flex;
}

li{
    flex: 1;
    padding: auto;
    margin: 40px;
}